.dark {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --btn-bg:#333;
  --message-bg: #06020f;
  --paperclip-bg: #575353;
  --header-bg: #1f182b;
  --dialog-bg: #8077d8;
  --dialog-bg-2: #6d9354;
  --tip-color: #ddd;
  --ck-scroll-bar-color:rgb(91, 81, 73);
  --ck-scroll-bar-body-bg:rgb(32, 29, 44);
}
#root{
  width: 100%;
  min-height: 100svh;
}
html{
  width: 100%;
  @apply  bg-[var(--message-bg)];
  --paperclip-bg: #777;
  --btn-bg: #eee;
  --message-bg: #eee;
  --header-bg: #f7fdff;
  --dialog-bg: #8addcc;
  --dialog-bg-2: #97ce74;
  --tip-color: #222;
  --ck-scroll-bar-width:6px;
  --ck-scroll-bar-color:#ddd;
}
a {
  font-weight: 500;
  color: #7277d5;
  text-decoration: inherit;
}
a:hover {
  opacity: 0.6;
}
.dark a {
  color: #a0beee;
}
body {
  margin: 0;
  display: flex;
  min-width: 320px;
  color: var(--color-text);
  box-sizing: border-box;
  min-height: 100vh;
}
